<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="styling.css"></head>

<div class="header">
  <b>NHL Draft Grader</b>
  <div class="header-right">
    <form>
      <input type="button" value="return" onclick="history.back()">
    </form>
  </div>
</div>
<h1><b>Submit Your Team!</b></h1>

<form>
<table class="center" style="width:50%">
<tr>
    <th>Player Number</th>
    <th>Position</th>
    <th>Player Selection</th>
    <th>Player Number</th>
    <th>Position</th>
    <th>Player Selection</th>
</tr>
  
<tr>
<td>1.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>12.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>2.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>13.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>3.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>14.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>4.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>15.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>5.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>16.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>6.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>17.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>7.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>18.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>8.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>19.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>9.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>20.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>10.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>21.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>

<tr>
<td>11.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
<td>22.</td>
<td class=""><input type="text" ng-model=""></td>
<td class=""><input type="text" ng-model=""></td>
</tr>
    </table>
<br>
</form>

<div class = "center">

<a href="http://127.0.0.1:5500/loginHome.html">
  <button class="b">Click to Submit a Team!</button>
</a>
</div>
</body>
</html>